# ===============================
# VARIAVEIS DE AMBIENTE / SEGREDOS
# ===============================

.env
.env.*
!.env.example


# ===============================
# JAVA / MAVEN
# ===============================

**/target/
*.class
*.log


# ===============================
# FRONTEND / NODE
# ===============================

**/node_modules/
**/dist/


# ===============================
# INTELLIJ
# ===============================

.idea/
*.iml
*.iws
*.ipr


# ===============================
# SISTEMA OPERACIONAL
# ===============================

.DS_Store
Thumbs.db


# ===============================
# CONFIGURACOES LOCAIS
# ===============================

**/application-local.properties
**/application-local.yml
**/application-local.yaml


# ===============================
# ORACLE WALLET
# NUNCA ENVIAR PARA O GITHUB
# ===============================

**/Wallet_*.zip
**/Wallet_*/
**/wallet_*/

**/cwallet.sso
**/ewallet.p12
**/ewallet.pem

**/keystore.jks
**/truststore.jks

**/ojdbc.properties
**/sqlnet.ora
**/tnsnames.ora

*.p12
*.sso
*.jks